body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.7;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#informacion_nombres {
    display: flex;
    justify-content: space-between;
}

#informacion_localizacion {
    display: flex;
    justify-content: space-between;
}

.input-group {
    display: flex;
    justify-content: center;
    width: min-content;
}

.form-control {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 200px;
    height: 25px;
}

.valid-feedback, .invalid-feedback {
    font-size: 13px;
    visibility: hidden;
}
.valid-feedback {
    color: lime;
}
.invalid-feedback {
    color: red;
}

.input-group {
    display: flex;
}
#inputGroupPrepend {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 25px;
    height: 30px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    color: white;
    border: 0;
    font-size: 15px;
    width: 70px;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}